body {
  margin: 0;
  padding: 0;
  background: linear-gradient(to right, #0a0a0a, #111111);
  font-family: var(--font-sora), sans-serif;
}

.navbar {
  display: flex;
  justify-content: center;
  gap: 4rem;
  padding: 2rem;
  background: transparent;
  font-size: 1.5rem;
  font-weight: 700;
}

.navbar a {
  color: #808000;
  text-decoration: none;
  transition: border-bottom 0.3s ease;
}

.navbar .active {
  border-bottom: 2px solid #808000;
}
